@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
:root{
    --primary-color:#34E0A1;
}


* {
  box-sizing: border-box;
}
body {
  font-family: "Prosto One", sans-serif;
  margin: 0;
}

header > div {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  gap: 1rem;
  margin-bottom: 2rem;
}
header > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div > div:has(h1) label {
  position: relative;
}

header > div > div:has(h1) input {
    outline: none;
    border: 0;
    width: 1%;
}

header > div > div:has(h1) input:focus{
    outline: none;
    height: 2rem;
    border-radius: 6px;
    border: 0;
    box-shadow: 0 0 4px rgb(0, 0, 0, .3);
    width: 100%;
}

header > div > div:has(h1) label > div{
    position: absolute;
    background-color: white;
    height: 2rem;
    width: 2rem;
    padding: 2%;
    border-radius: 6px;
    box-shadow: 0 0 4px rgb(0, 0, 0, .3);
    top: 0;
    right: 0;
}

header > div > div:has(h1) label > div i{
    display: block;
    background-image: url(/imgs/search-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

header > div > div:has(select) input {
    accent-color: var(--primary-color);
}

header > div > div:has(select) select {
    outline: none;
    border: 0;
    padding: .3rem;
    box-shadow: 0 0 4px rgb(0, 0, 0, .3);
}

header > div > div:has(select) select:focus {
    box-shadow: 0 0 4px var(--primary-color);
}

header > div > div:has(select) select[name='rate-select'] {
  display: none;
}

main{
  padding: .5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

resto-card{
  width: 100%;
  height: 33vh;
  box-shadow: 0 0 4px rgb(0, 0, 0, .3);
}

.resto-card > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

resto-card .resto-card > div:has(h3){
  padding: 0 5%;
}

.resto-logo img{
  width: 100%;
  height: 20vh;
}

.resto-rate{
  display: flex;
  align-items: center;
  gap: 5%;
}

.resto-card > div:has(button) button{
  height: 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}


footer{
  background-color: #323232;
  color:white;
  padding: 1rem 0;
  margin-top: 1rem;
}

.CenterSection{
  width: 80%;
  margin-left: 10%;
}

footer > div .links{
  display: flex;
  gap: 1.5rem;
  padding-left: 1rem;
}

footer > div .links a{
  font-size: 1rem;
  text-decoration: underline;
  color: white;
}
@media screen and (max-width: 1200px) {
  main{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {

  header .content-holder .fleters-holder .radio-btns-holder {
    display: none;
}

  header > div > div:has(select) select[name='rate-select'] {
    display: block;
  }

  main{
    width: 60%;
    grid-template-columns: 1fr;
    margin-left: 20%;
  }
}

